<?xml version="1.0" encoding="utf-8"?>

<!--
TODO BEFORE UPDATE APP ON GOOGLE PLAY
=====================================
-NEW VERSION:
-set new version in manifest
-edit text in changelog
-edit text in help/about
-edit text in dialog for new version
-edit description and changelog on Google Play

-API KEY AND ID:
-set Google Maps API key
-set Google Analytics/Flurry/Localytics API key
-set Crittercism API key
-set GCM sender ID
-set Facebook app ID
-set Android key hash on developers.facebook.com

-OTHER:
-disable logs
-set server release API address
-add Google Analytics/Flurry/Localytics events for new features


TESTS
=====
-test app on all Android versions (handset, tablet)
-monkey test (fast clicking, changing orientation)
-test offline/empty/progress views
-test migration from old version to new
-test slow internet connection
-test reboot (boot receivers, alarms, services)
-test Google Analytics/Flurry/Localytics tracking


RELEASE INFO
============
-code:1 - name:1.0.0 - date:01.01.2013


TODO
====
-fill in some tasks
-->


<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.example"
	android:versionCode="1"
	android:versionName="1.0.0"
	android:installLocation="auto">
	
	<uses-sdk android:minSdkVersion="8" android:targetSdkVersion="17" />
	
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.VIBRATE" />

	<application
		android:name=".ExampleApplication" 
		android:icon="@drawable/ic_launcher"
		android:logo="@drawable/ab_logo"
		android:label="@string/app_name"
		android:theme="@style/Theme.Example"
		android:hardwareAccelerated="true">
		
		<uses-library android:name="com.google.android.maps" />
		
		<activity
			android:name=".activity.ListingActivity"
			android:label="@string/app_name"
			android:launchMode="standard"
			android:uiOptions="none">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity
			android:name=".activity.ExampleActivity"
			android:label="@string/ab_title_example"
			android:launchMode="standard"
			android:uiOptions="none">
		</activity>

	</application>
</manifest>
