<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.example"
	android:versionCode="1"
	android:versionName="1.0.0">
	
	<uses-sdk android:minSdkVersion="8" android:targetSdkVersion="18" />
	
	<uses-permission android:name="android.permission.INTERNET" /> <!-- GCM connects to Google Services -->
	<uses-permission android:name="android.permission.GET_ACCOUNTS" /> <!-- GCM requires a Google account -->
	<uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- keeps the processor from sleeping when a message is received -->
	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" /> <!-- permission to register and receive data message -->
	
	<!-- creates a custom permission so only this app can receive its messages -->
	<permission android:name="com.example.permission.C2D_MESSAGE" android:protectionLevel="signature" />
	<uses-permission android:name="com.example.permission.C2D_MESSAGE" />
	
	<application 
		android:icon="@drawable/ic_launcher"
		android:label="@string/app_name">
		
		<!-- BroadcastReceiver that will receive intents from GCM services and handle them to the custom IntentService -->
		<receiver
			android:name="com.google.android.gcm.GCMBroadcastReceiver"
			android:permission="com.google.android.c2dm.permission.SEND">
			<intent-filter>
				<action android:name="com.google.android.c2dm.intent.RECEIVE" /> <!-- receives the actual messages -->
				<action android:name="com.google.android.c2dm.intent.REGISTRATION" /> <!-- receives the registration id -->
				<category android:name="com.example" />
			</intent-filter>
		</receiver>
		
		<!-- application-specific subclass of GCMBaseIntentService that will handle received messages -->
		<service android:name=".GCMIntentService" />
		
	</application>
</manifest>
