<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.example">

	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	
	<application 
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name">
		
		<receiver android:name=".receiver.BootCompletedReceiver">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
			</intent-filter>
		</receiver>
		
		<receiver android:name=".receiver.ConnectivityChangeReceiver">
			<intent-filter>
				<action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
			</intent-filter>
		</receiver>
		
		<receiver android:name=".receiver.NewPictureReceiver">
			<intent-filter>
				<action android:name="com.android.camera.NEW_PICTURE" />
				<action android:name="android.hardware.action.NEW_PICTURE" />
				<data android:mimeType="image/*"/> 
			</intent-filter>
		</receiver>
		
		<receiver android:name=".receiver.PhoneStateReceiver">
			<intent-filter>
				<action android:name="android.intent.action.PHONE_STATE" />
			</intent-filter>
		</receiver>
		
	</application>
</manifest>
